server {
  listen       ${NGINX_PORT};
  server_name  ${NGINX_SERVER_NAME};

  location /api/backend {
    proxy_pass         ${NGINX_BACKEND_API};
  }

  location / {
    proxy_pass         ${NGINX_FRONTEND_APP};
    #try_files $uri $uri/ /index.html;
  }
}